# === Node.js ===
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# === Environment ===
.env
.env.*.local

# === Build ===
dist/
coverage/

# === Logs ===
logs/
*.log

# === Temp ===
.tmp/
.DS_Store
Thumbs.db

# === TypeScript ===
*.tsbuildinfo

# === Jest ===
/jest-cache/
/jest-output/

# === PM2 ===
pids/
*.pid
*.seed
*.pid.lock
ecosystem.config.js

# === IDE ===
.vscode/
.idea/